.thong-tin-hoc-vien {
    border: 1px solid #197485;
    color: white;
    background: #197485;
    padding: 10px;
}

.phan-noi-dung {
    font-weight: bold;
    font-size: 20px;
}

#btn-cap-nhat {
    color: white;
    background: #197485;
    border-radius: 5px;
    float: right;
    font-size: 20px;
    margin-right: 50px;
}

    #btn-cap-nhat:hover {
        background: #bfa145;
    }
